<footer class="bg-light text-center text-lg-start">

  <div class="container p-4">

    <div class="row">

      <div class="col-lg-6 col-md-12 mb-4 mb-md-0">
        <p><i class="fab fa-app-store"></i></p>
        <p><i class="fab fa-google-play"></i></p>

        <p><i class="fab fa-cc-visa"></i></p>
        <p><i><i class="fab fa-cc-mastercard"></i></i></p>

      </div>


  
      <div class="col-lg-3 col-md-6 mb-4 mb-md-0">

        <ul class="list-unstyled mb-0">
          <li>
            <a href="#!" class="text-dark"><i class="fab fa-facebook-f"></i></a>
          </li>
          <li>
            <a href="#!" class="text-dark"><i class="fab fa-instagram"></i></a>
          </li>
          <li>
            <a href="#!" class="text-dark"><i class="fab fa-pinterest-p"></i></a>
          </li>
          <li>
            <a href="#!" class="text-dark"><i class="fab fa-youtube"></i></a>
          </li>
        </ul>
      </div>



      <div class="col-lg-3 col-md-6 mb-4 mb-md-0">

        <ul class="list-unstyled">
          <li>
            <a href="#!" class="text-dark">Sobre nosotros</a>
          </li>
          <li>
            <a href="#!" class="text-dark">¿Como funciona?</a>
          </li>
          <li>
            <a href="#!" class="text-dark">Términos y condiciones</a>
          </li>
          <li>
            <a href="#!" class="text-dark">Política de privacidad</a>
          </li>
          <li>
            <a href="#!" class="text-dark">Centro de ayuda</a>
          </li>
        </ul>
      </div>

    </div>

  </div>



  <div class="text-center p-3" style="background-color: rgba(0, 0, 0, 0.2)">
    Copyright © 2019 Urra. All rights reserved.
    <a class="text-dark" href="https://mdbootstrap.com/"><img src="assets/img/Urra-Logo.png"></a>
  </div>

</footer>



