<section class="features-icons bg-light text-center">
  <div class="container">
    <div class="row">
      <div class="col-md-12 col-lg-12 col-xl-12 text-center">
        <h2>Últimos pedidos </h2>
        <h3>Descubre los últimos pedidos completados por nuestra comunidad y todo lo que han ganado viajando. </h3>
      </div>
    </div>
    <div class="row">

      <div class="col-lg-4">
        <div class="features-icons-item mx-auto mb-5 mb-lg-0 mb-lg-3">
          <div class="features-icons-icon d-flex">
            <i class="icon-screen-desktop m-auto text-primary"></i>
          </div>
          <div>
          <img src="assets/img/bundle_color_portable (1).png">
          <h3>Enero 22 2019</h3>
          <p class="lead mb-0">Ganado $100</p>
          <p class="lead mb-0">Comprador</p>
          <p class="lead mb-0">Ahorrado $50</p>
          <p class="lead mb-0">Viajero</p>
        </div>
      </div>
      <div class="col-lg-4">
        <div class="features-icons-item mx-auto mb-5 mb-lg-0 mb-lg-3">
          <div class="features-icons-icon d-flex">
            <i class="icon-layers m-auto text-primary"></i>
          </div>
          <img src="assets/img/tablet.png">
          <h3>Enero 22 2019</h3>
          <p class="lead mb-0">Ganado $100</p>
          <p class="lead mb-0">Viajero</p>
          <p class="lead mb-0">Ahorrado $50</p>
          <p class="lead mb-0">Comprador</p>
        </div>
      </div>
      <div class="col-lg-4">
        <div class="features-icons-item mx-auto mb-0 mb-lg-3">
          <div class="features-icons-icon d-flex">
            <i class="icon-check m-auto text-primary"></i>
          </div>
          <img src="assets/img/shoes.png">
          <h3>Enero 22 2019</h3>
          <p class="lead mb-0">Ganado $100</p>
          <p class="lead mb-0">Viajero</p>
          <p class="lead mb-0">Ahorrado $50</p>
          <p class="lead mb-0">Encomendero</p>
        </div>
      </div>
      </div>
    </div>
  </div>
</section>