<section>
  <div class="container-header">
    <h1>Compra de cualquier lugar del mundo</h1>
    <h2>La mejor manera de comprar en linea, a un precio mas accesible con nuestra comunidad de viajeros</h2>
    <div class="form-row">
      <div class="position-r col-12">
        <input type="text" class="form-control form-control-lg" placeholder="Pega la URL del producto que quieras comprar">
        <i class="fas fa-search position-a"></i>
      </div>
      <div class="input-group-append">
        <a href="#" class="btn btn-primary btn-xl rounded-pill mt-5">Crea tu pedido</a>
      </div>
    </div>
  </div>
  <div>
    <img src="assets/img/Frame.png" />
  </div>
</section>

